<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraper per wattpad</title>
    <link rel="stylesheet" href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css">
</head>
<body>
<form method="post" action="/download-txt" target="_blank">
    <h1 class="c-heading u-medium">Bleeh, lagay mo lang su first chapter na link sabi sa docs. :P .</h1><br/>
    <input type="text" class="c-field" name="url" size="100"/><br/>
    <button type="submit" class="c-button" value="Submit">Download storia</button>
</form>
</body>
</html>